<?xml version="1.0" encoding="UTF-8"?>
<suite name="Tests">
	<listeners>
		<listener class-name="testcases.resources.Listeners" />
	</listeners>
	<tests>

		<test name="UsersOperations">
			<classes>
				<class name="testcases.tests.RegisterUser" />
				<class name="testcases.tests.Logout" />
				<class name="testcases.tests.LoginUser" />
				<class name="testcases.tests.Logout" />
			</classes>
		</test>
		<test name="UserDelete">
			<classes>
				<class name="testcases.tests.DeleteAccount" />
			</classes>
		</test>
		<test name="ProductAddCart">
			<classes>
				<class name="testcases.tests.ProductList" />
				<class name="testcases.tests.SearchProduct" />
				<class name="testcases.tests.ProductsInCart" />
			</classes>
		<test name="PlaceOrder">
			<classes>
				<class name="testcases.tests.PlaceOrder" />
			</classes>
		</test>	
		</test>		
	</tests>
</suite>